.player-stats-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .player-stats-container h2 {
    text-align: center;
    color: #333;
  }
  
  .not_found p{
    font-style: italic;
    font-size: 100px;
  }
  
  .not_found img{
    width: 60%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    }
  
  .player-list {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .player-item {
    margin-bottom: 16px;
  }
  
  .player-item p {
    margin: 8px 0;
  }
  
  .label {
    font-weight: bold;
    color: #666;
    margin-right: 8px;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 16px 0;
  }